@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background: #f2f2f2;
  color: #000;
}

a {
  color: inherit;
}

a:hover {
  color: #56e;
}

table {
  width: 100%;
  background: #fff;
  border: 6px solid #fff;
  border-radius: 3px;
  border-collapse: collapse;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}

th {
  border-bottom: 1px solid #000;
  padding: 1rem;
  text-align: left;
}

td {
  padding: 1rem;
  border-top: 1px solid #ddd;
}

tr > td:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

tr > td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

tbody tr:first-child td {
  border-top: none;
}

.PostForm {
  padding: 1rem;
  background: #fff;
}

tr:hover td {
  background: #56e;
  color: #fff;
  border-top: none;
}

tr:hover + tr td {
  border-bottom: 1px solid transparent;
}

.FieldTypeButton {
  background: #fff;
  border: none;
  width: 6rem;
  height: 6rem;
  border-radius: 3px;
  flex: 1 0 3rem;
}

.FieldTypeButton svg {
  display: block;
  margin: 0 auto;
}

.FieldTypeSelector {
  border-radius: 3px;
  overflow: none;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  padding: 1rem;
}

.Header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.Header a {
  color: inherit;
  text-decoration: none;
  padding: 0 1rem;

  line-height: 2rem;
  border-radius: 1rem;
  display: block;
}

.Header a.active {
  background: #000;
  color: #fff;
}

.Content {
  margin-left: 250px;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem 0;
  line-height: 1.1;
}
